.close {
    font-family: inherit;
	position: absolute;
	width: 120%;
	height: 1px;
	background-color: #000000;
	margin-left: -12px;
}

.close:nth-child(1) {	
	transform: rotate(-45deg);
}

.close:nth-child(2) {
	transform: rotate(-135deg);
}