.main {
    font-family: inherit;
	height: calc(100vh - 110px);
	background-color: #0079BF;
	padding: 20px 15px 32px;
}

.container {
	max-width: 1235px;
	margin: 0 auto;
	height: 100%;
}

@media all and (max-width: 1230px) {
	.main {
		height: 100%;
		min-height: 100vh;
	}
}


